@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 3 7 18;

    --card: 255 255 255;
    --card-foreground: 3 7 18;

    --popover: 255 255 255;
    --popover-foreground: 3 7 18;

    --primary: 3 7 18;
    --primary-foreground: 248 250 252;

    --secondary: 241 245 249;
    --secondary-foreground: 3 7 18;

    --muted: 241 245 249;
    --muted-foreground: 100 116 139;

    --accent: 241 245 249;
    --accent-foreground: 3 7 18;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 3 7 18;

    --radius: 0.5rem;

    --selected-card-color: 136 71 71;
  }

  .dark {
    --background: 3 7 18;
    --foreground: 248 250 252;

    --card: 3 7 18;
    --card-foreground: 248 250 252;

    --popover: 3 7 18;
    --popover-foreground: 248 250 252;

    --primary: 248 250 252;
    --primary-foreground: 3 7 18;

    --secondary: 30 41 59;
    --secondary-foreground: 248 250 252;

    --muted: 30 41 59;
    --muted-foreground: 148 163 184;

    --accent: 30 41 59;
    --accent-foreground: 248 250 252;

    --destructive: 127 29 29;
    --destructive-foreground: 248 250 252;

    --border: 30 41 59;
    --input: 30 41 59;
    --ring: 203 213 225;
  }

  @keyframes rainbow-flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
