@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 10 10 10;

    --card: 255 255 255;
    --card-foreground: 10 10 10;

    --popover: 255 255 255;
    --popover-foreground: 10 10 10;

    --primary: 0 0 0;
    --primary-foreground: 255 255 255;

    --secondary: 245 245 245;
    --secondary-foreground: 23 23 23;

    --muted: 245 245 245;
    --muted-foreground: 115 115 115;

    --accent: 245 245 245;
    --accent-foreground: 23 23 23;

    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;

    --border: 229 229 229;
    --input: 229 229 229;
    --ring: 10 10 10;

    --radius: 0.5rem;

    --selected-card-color: 136 71 71;
  }

  .dark {
    --background: 5 5 5;
    --foreground: 250 250 250;

    --card: 25 25 25;
    --card-foreground: 250 250 250;

    --popover: 25 25 25;
    --popover-foreground: 250 250 250;

    --primary: 250 250 250;
    --primary-foreground: 23 23 23;

    --secondary: 45 45 45;
    --secondary-foreground: 250 250 250;

    --muted: 45 45 45;
    --muted-foreground: 163 163 163;

    --accent: 35 35 35;
    --accent-foreground: 250 250 250;

    --destructive: 127 29 29;
    --destructive-foreground: 248 250 252;

    --border: 45 45 45;
    --input: 45 45 45;
    --ring: 212 212 212;
  }

  @keyframes rainbow-flow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
